/********************************************
Challenge page specific styles
********************************************/
.add-button {
	padding-top: 1em;

	a {
		padding: .2em .3em;
		border-radius: 4px;
	}
}

.new-challenge {
	display: none;
}
